
    li.new_user a{
        background: #AFD898;
        color: #23580E;
    }
    h3 {color:white;}
    h1 {color:white;}
    .messageWrapper {
        margin-bottom: 20px; padding-right: 20px;
        /* min-height:200px; margin-bottom: 20px; max-height: 300px; overflow: auto; padding-right: 20px;*/
    }
    .message span, .reply span{ color: #999999; display:block; float:right}
    .message { background:#F9F9F9; padding:5px; margin-bottom:2px;}
    .reply { background:#FFFEEE;padding:4px; margin-bottom:2px; }
    a:focus{outline:none}

    p.err{color:#f00;}
    input.bordererr, input.bordererr:focus, .bordererr, .bordererr:focus {border: 1px solid #f00}
    .plugins { margin-bottom: 10px; text-align: right}
    .badge { margin-left: 5px}
    .user_info { margin-bottom: 20px;}
    .user_info b { margin-left: 15px;}
    
    /* badge */
    .notification_badge {
      display: none;
      background: #BA070F;
      color: #fff;
      padding: 1px 7px;
      position: absolute;
      right: 4px;
      top: -12px;
      z-index: 999;
      border-radius: .8em;
      border: 2px solid #fff;
    }
    .notification_badge.yellow {
       background:#FBEE87;
       color:#000;
    }
    .ui-badge-container {
      position: relative;
    }
    
    /* custom icons */
    .nav-glyphish-example ui {list-style-type: none;}
    	.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#i_chat .ui-icon { background:  url(../img/glyphish-icons/09-chat-2.png) 50% 50% no-repeat; background-size: 24px 22px; }
		#i_email .ui-icon { background:  url(../img/glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px;  }
		#i_login .ui-icon { background:  url(../img/glyphish-icons/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
		#i_beer .ui-icon { background:  url(../img/glyphish-icons/88-beermug.png) 50% 50% no-repeat;  background-size: 22px 27px; }
		#i_coffee .ui-icon { background:  url(../img/glyphish-icons/100-coffee.png) 50% 50% no-repeat;  background-size: 20px 24px; }
		#i_skull .ui-icon { background:  url(../img/glyphish-icons/21-skull.png) 50% 50% no-repeat;  background-size: 22px 24px; }
        
        .ui-icon-custom-chats { background: url(../img/glyphish-icons/09-chat-2.png) 50% 50% no-repeat; background-size: 24px 22px; }
        .ui-icon-custom-visitors { background: url(../img/glyphish-icons/112-group.png) 50% 50% no-repeat; background-size: 32px 21px; }
        .ui-icon-custom-gear { background: url(../img/glyphish-icons/19-gear.png) 50% 50% no-repeat; background-size: 26px 26px; }
     